.grid-container {
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 100px auto auto auto auto 100px; */
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
    gap: 20px;
    justify-items: center;
    align-items: center; 
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: main;
}
.footer {
    grid-area: footer;
}